.sectiondetalle {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: "Arial", sans-serif;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .h1detalle {
    font-size: 24px;
  }
  
  .fotodetalle {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .pdetalle {
    margin: 10px 0;
  }
  
.botondetalle {
    background-color: red;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer; 
    text-decoration: none;
  }
  
button:hover {
    background-color: #ffffff;
  }