.sectioncancion {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: "Arial", sans-serif;
    max-width: 600px;
    margin: 20px auto;
  }
  .h1cancion {
    font-size: 24px;
  }
  .imgcancion {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
  }
  .pcancion {
    margin: 10px 0;
  }
  iframe {
    width: 80%;
    height: 200px;
    border: none;
  }
  .botondetalle {
    background-color: red;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer; 
    text-decoration: none;
  }
button:hover {
    background-color: #ffffff;
  }