header {
    background-color: black;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    padding: 20px;
    background-color: red;
    border-radius: 10%;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: black;
}
.foto{
  max-width: 200px;
  max-height: 170px;
  padding: 20px;
}